/* body {
    background-color: rgba(0, 0, 0, .1);
}

.container {
    background-color: #fff;
}

.container-fluid {
    padding: 0;
} */

:root {
    --main-color: #17a2b8;
}

.list-group-item.active {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.nav-tabs .nav-link:not(.active) {
    color: var(--main-color) !important;
}

body {
    background: url('../img/bg.png') no-repeat fixed bottom right;
}

footer {
    background-color: var(--main-color) !important;
}